{% extends 'store_app/base.html' %}
{% block head_title %} : {{ product.title }}{% endblock %}

{% load static %}

{% block content %}
<div class="mx-auto flex justify-center pt-32">
    <div class="md:flex md:w-10/12 xl:w-8/12 2xl:w-6/12">
        <div class="">
            <img class="rounded-lg object-cover  w-96" src="{{product.image.url}}" alt="" />
        </div>
        <div
            class="flex-1 md:pl-4 lg:pl-10 xl:pl-14 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div>
                <h4 class="mb-4 text-3xl font-bold tracking-tight text-gray-900">
                    {{product.title}}
                </h4>
                <div class="font-normal">
                    <div class="mb-5 md:mb-0 text-gray-600">
                        <p>Valuable product [Not a NFT]</p>
                        <p>
                            <strong>Artist:</strong>
                            <span>{{product.author}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <a href="*" class="mb-5 md:mb-0 text-blue-700 underline">Guaranteed purchase</a>
            <div class="flex ">
                <form id="checkout-form" action="/create-checkout-session" method="POST">
                    <div class="flex">
                        <div class="w-24">
                            <label for="select">Qty</label>
                            <select id="select"
                                class="mt-2 bg-white border border-gray-300 text-gray-800 rounded-md focus:ring-fuchsia-500 focus:border-fuchsia-500 block py-2 px-3">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>

                            <input type="number">
                        </div>
                        <div class="flex items-end text-gray-600 text-3xl">
                            €{{product.price}}
                        </div>
                    </div>

                    <button type="button" id="update-button" value="{{product.id}}" data-index="{{ product.id }}"
                        class="add-button mt-6 bg-fuchsia-600 hover:bg-fuchsia-500 text-white font-bold py-2 px-4 border-b-4 border-fuchsia-800 hover:border-fuchsia-600 rounded">
                        Add to Cart
                    </button>
                </form>
            </div>

            <div class="flex items-center pt-8 md:pt-0">
                {% comment %}
                <!-- TODO: fix user image + create a profile modles -->
                <a href="#"><img class="w-10 h-10 rounded-full mr-4" src="{{user_profile_image}}"
                        alt="Avatar of Jonathan Reinink"></a>
                <div class="text-sm">
                    <p class="text-gray-900 leading-none">{{product.author}}</p>
                    <p class="text-gray-600">{{ product.date_posted|date:'d◦M◦Y' }}</p>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}